<script src="https://giscus.app/client.js"
        data-repo="Hrviun/H"
        data-repo-id="R_kgDOJc_OhA"
        data-category="General"
        data-category-id="DIC_kwDOJc_OhM4CWwvF"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="purple_dark"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<footer class="footer">
  <span>{{ site.footerText }}</span>
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS订阅</a>
  {%- comment %}{% endcomment %}
  <span></span>
  <a href="#">HRVIUN</a>

  {%- if site.extCount %}
    <span>总访问量</span>
    <span id="busuanzi_value_site_pv"></span>
  {% endif %}
  <div class="footer-btn theme-toggler hide">
    <i class="svg-icon icon-theme-light"></i>
  </div>
  <div class="footer-btn to-top">
    <i class="svg-icon icon-arrow-top"></i>
  </div>
</footer>
