
<footer class="footer">
  <span>{{ site.footerText }}</span>
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS订阅</a>
  {%- comment %}{% endcomment %}
  <span></span>
  <a href="#">HRVIUN</a>

  {%- if site.extCount %}
<!-- 不蒜子统计图标代码 Start -->
  <a href="https://www.busuanzi.cc/count.php?search=h.hrviun.eu.org" title="不蒜子统计" target="_blank">
    <img style="width:85px;height:25px;" src="./img/llll.png">
  </a>
<!-- 不蒜子统计图标代码 End -->
    <span>总访问量</span>
    <span id="busuanzi_site_pv"></span>
  {% endif %}
  <div class="footer-btn theme-toggler hide">
    <i class="svg-icon icon-theme-light"></i>
  </div>
  <div class="footer-btn to-top">
    <i class="svg-icon icon-arrow-top"></i>
  </div>
</footer>