<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body>
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">
    <span>{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</span>
    {%- if site.extCount %}
      <span>浏览量</span>
      <span id="busuanzi_value_page_pv"></span>
    {% endif %}
  </div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
{% include footer.html -%}
{% include script.html -%}
<!-- Link Gitalk 的支持文件 -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<!-- Gitalk 评论 start  -->
  <div id="gitalk-container"></div>
      <script type="text/javascript">
      var title = location.pathname.substr(0, 50);//截取路径的前50个字符作为标识符
      var gitalk = new Gitalk({

      // gitalk的主要参数
          clientID: '11d451753b22bbf19b77',
          clientSecret: 'ccffc2a474552be7e18ae21b813106f5b499611c',
          repo: 'H',
          owner: 'Hrviun',
          admin: ['Hrviun'],
          id: title,//因为这里不能超过50字符，所以做了处理，当超过50时自动截取前50
     
      });
      gitalk.render('gitalk-container');
      </script>
  <!-- Gitalk end -->

</script>
</body>
</html>