<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body>
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">
    <span>{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</span>
    {%- if site.extCount %}
      <span>浏览量</span>
      <span id="busuanzi_value_page_pv"></span>
    {% endif %}
  </div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
  
</div>

<script src="https://giscus.app/client.js"
        data-repo="Hrviun/H"
        data-repo-id="R_kgDOJc_OhA"
        data-category="General"
        data-category-id="DIC_kwDOJc_OhM4CWwvF"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="purple_dark"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>